.StepEntry {
  background-color: azure;
  border: 1px solid black;
  padding: 10px;
}

.Step {
  background-color: burlywood;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.Steps {
  width: 50%;
  flex: 1 0 auto;
}

.Timeline {
  background-color: navajowhite;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  flex: 1 0 auto;
}

p {
  line-height: 1.5em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}